In [ ]:
# print 0 to 20 by using range
for num in range(0,20):
  print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20
for num in range(10,20):
      print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [ ]:
# Print number of items in the list by using 'len'
list2=[10, 20, 14, 55, 43, 87, 76]
print(list2)
print("Number of items in list1:")
print(len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in list1:
7

In [23]:
print("Artificial Intelligence")
name="Artificial Intelligence"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
print(name[6])
print(name[7])
print(name[8])
print(name[9])
print(name[10])
print(name[11])
print(name[12])
print(name[13])
print(name[14])
print(name[15])
print(name[16])
print(name[17])
print(name[18])
print(name[19])
print(name[20])
print(name[21])
print(name[22])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [24]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [28]:
# Print this mixered datatype using Tuples
Tuple1 = (1, 'welcome',2, 'Hope')
print(Tuple1)

(1, 'welcome', 2, 'Hope')

In [29]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [32]:
# print Odd Numbers in the list
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
for num in numbers:
    if((num%2)!=0):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [83]:
# print Even numbers in the list
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
for num in numbers:
    if((num%2)==0):
      print(num,"is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd