In [1]:
print("HOPE AI")

HOPE AI

In [7]:
#Buy input

print("Enter your institute name? : HOPE AI")

Enter your institute name? : HOPE AI

In [21]:
#Buy inputs
Name="Raj"
print("Enter your name:",Name)
age="15"
print("Enter your age:",age)
schoolname="Guru school"
print("Enter your school name:",schoolname)
degree="B.E CSE"
print("Enter your degree:",degree)

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E CSE

In [28]:
#Addition
num1=int(input("a="))
num2=int(input("b="))
add=num1+num2
print("add=",add)

a=43
b=34
add= 77

In [29]:
#Subtraction
num1=int(input("a="))
num2=int(input("b="))
sub=num1-num2
print("sub=",sub)

a=43
b=34
sub= 9

In [30]:
#Multiplication
num1=int(input("a="))
num2=int(input("b="))
Mul=num1*num2
print("Mul=",Mul)

a=63
b=97
Mul= 6111

In [35]:
#Division
num1=int(input("a="))
num2=int(input("b="))
div=num1/num2
print("Float Div=",div)

a=76
b=31
Float Div= 2.4516129032258065

In [36]:
#Floor division
num1=int(input("a="))
num2=int(input("b="))
floordiv=num1//num2
print("Floor Div=",floordiv)

a=76
b=31
Floor Div= 2

In [37]:
#Modulo
num1=int(input("a="))
num2=int(input("b="))
Modulo=num1%num2
print("Modulo=",Modulo)

a=76
b=31
Modulo= 14

In [38]:
#Power
num1=int(input("a="))
num2=int(input("b="))
Power=num1**num2
print("Power=",Power)

a=4
b=4
Power= 256